
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10vh 5vw 8vh 5vw;
  position: fixed;
  top:0;
  height: 20vh;
  width: 100%;
  background: linear-gradient(180deg, var(--litgher-gray) 60% , transparent);
  z-index: 10;
}


header div.courses-add{
  display: flex;
  align-items: center;
  column-gap: 30px;
}

header div.courses-add h1{
  font-weight: bolder;
  font-size: 3rem;
}

header div.courses-add button{
  border-radius: 50%;
  background: #076edb;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  transform: translateY(2px);
  cursor: pointer;
}


header nav ul {
  display: flex;
  column-gap: 40px;
  align-items: center;
  position: relative;
}

header nav ul li label{
  border-radius: 50px;
  padding: 5px 10px;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  column-gap: 5px;
}

.elementFocus{
  position: absolute;
  background: #fff;
  border-radius: 50px;
  padding: 16px 45px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
  transition: .5s ease;
  z-index: -1;
  transform: translateX(-5px);
}

input[type="radio"]{
  display: none;
}

header nav ul label{
  display: flex;
  align-items: center;
  color: #b9b9b9;
  font-size: .8rem;
  font-weight: 700;
}

header nav ul span:last-child{
  color: #cccccc;
  font-size: .7rem;
  transform: translateY(-1px);
}

label span{
  transition: .5s ease;
}

header div.header-right-content{
  display: flex;
  align-items: center;
  column-gap: 30px;
}

header div.header-right-content span{
  padding: 10px;
  min-width: 40px;
  min-height: 40px;
  display: grid;
  place-content: center;
  color: #a5aaa9;
  border-radius: 50%;
  background: #fff;
}

header div.header-right-content img{
  max-width: 50px;
  width: 100%;
  border-radius: 50%;
}

input[type="radio"]:checked + span{
  color: #868686;
}
