<header>
  <div class="courses-add">
    <h1>Courses</h1>
    <button>
      <span>+</span>
    </button>
  </div>

  <nav>
    <ul>
      <li>
        <span>Active</span>
        <span>24</span>
      </li>
      <li>
        <span>Drafts</span>
        <span>4</span>
      </li>
      <li>
        <span>Archived</span>
        <span>1</span>
      </li>
    </ul>
  </nav>

<div class="header-right-content">
  <span>
    <fa-icon [icon]="searchIcon"></fa-icon>
  </span>
  <span>
    <fa-icon [icon]="bellIcon"></fa-icon>
  </span>
  <img src="https://avatars2.githubusercontent.com/u/31545128?s=460&u=eed59e12dfe441d690ebcac879427aa1c2bdb081&v=4">
</div>

</header>
