<header>
  <div class="courses-add">
    <h1>Courses</h1>
    <button>
      <span>+</span>
    </button>
  </div>

  <nav>
    <ul >
      <li (click)="focus(-5,45)">
        <label for="active">
          <input type="radio" name="menu" id="active" checked>
          <span>Active</span>
          <span>24</span>
        </label>
      </li>
      <li (click)="focus(120,45)">
        <label for="drafts">
          <input type="radio" name="menu" id="drafts">
          <span>Drafts</span>
          <span>4</span>
        </label>
      </li>
      <li (click)="focus(243,52)">
        <label for="archived">
          <input type="radio" name="menu" id="archived">
          <span>Archived</span>
          <span>1</span>
        </label>
      </li>

      <div class="elementFocus" #focusedItem></div>
    </ul>
  </nav>

<div class="header-right-content">
  <span>
    <fa-icon [icon]="searchIcon"></fa-icon>
  </span>
  <span>
    <fa-icon [icon]="bellIcon"></fa-icon>
  </span>
  <img src="https://avatars2.githubusercontent.com/u/31545128?s=460&u=eed59e12dfe441d690ebcac879427aa1c2bdb081&v=4">
</div>

</header>
