<div
  class="card"
  appShadowOnHoverAndCheck
  appHoverCategory
  [shadowByChecked]="cardSelected || false"
  #card
>
  <header>
    <span class="checkbox-container">
      <input
        type="checkbox"
        (change)="selectCard()"
        [checked]="cardSelected"
      />
      <fa-icon class="checkIcon" [icon]="checkSquare"></fa-icon>
    </span>

    <span>
      <fa-icon [icon]="ellipsisIcon"></fa-icon>
    </span>
  </header>

  <div class="card-content">
    <app-card-category
      #category
      [classCategory]="course!.category.replace(' ', '-').toLocaleLowerCase()"
      [courseCategory]="course!.category"
    ></app-card-category>
    <h4>{{ course?.title }}</h4>
  </div>

  <footer>
    <div class="footer-card-content">
      <span>
        <fa-icon [icon]="teamIcon"></fa-icon>
      </span>
      <span>{{ course?.students }}</span>
    </div>
  </footer>
</div>
