<footer [className]="footerClass |async">
  <div class="left-div-footer">
    <p>
      <span>{{ selectedCount }}</span>
      <span>Selected</span>
    </p>

    <div class="selectCheckboxContainer">
      <div class="checkbox">
        <label for="selectAll">Select All</label>
        <input (change)="selectAllCourses()" type="checkbox" id="selectAll" [checked]="selectAll" />
        <label class="custom-checkbox" for="selectAll"></label>
      </div>
    </div>
  </div>

  <div class="center">
    <button>
      <span><fa-icon [icon]="speaker"></fa-icon></span>
      <span> Publish </span>
    </button>

    <button>
      <span><fa-icon [icon]="folder"></fa-icon></span>
      <span>Archive</span>
    </button>
  </div>

  <div class="righ-div-footer">Press <span>ESC</span> to Cancel Selection</div>
</footer>
