:root{
  --primary:#076edb;
  --white:#fff;
  --litgher-gray:#f7f7f8;
}


::-webkit-scrollbar{
  width: 5px;
  background: #eee;
}

::-webkit-scrollbar-thumb{
  background: #aaa;
}

*{
  box-sizing: border-box;
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body{
  background: var(--litgher-gray);
  height: 100vh;
}

ul{
  list-style: none;
}
