:root{
  --primary:#076edb;
  --white:#fff;
  --letgher-gray:#f7f7f8;
}


*{
  box-sizing: border-box;
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body{
  padding: 8vh 5vw;
  background: var(--letgher-gray);
  height: 100vh;
}

ul{
  list-style: none;
}
