h4{
  color: #9ca0a5;
  font-weight: 400;
  margin-bottom: 3vh;
  padding: 0 15px;
}

li{
  color: #9ca0a5;
  font-weight: 500;
  margin: 2vh 0;
  padding: 10px 15px;
  max-width: 45%;
  cursor: pointer;
  border-radius: 5px;
}

li:first-child{
  background: #fff;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .05);
}
